<h1 class="head-center">Blocipedia: Social, Markdown Wikis</h1>

<div class="jumbotron">
	<h2 id="jumbo-head">Create and share Markdown Wikis</h2>
	<br />
	<% if user_signed_in? %>
		<p class="text-center"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %></p>
	<% else %>
		<p class="text-center"><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-default' %></p>
	<% end %>
	<% if current_user %>
		<% if current_user.member? %>
			<p class="text-center"><%= link_to "Upgrade to a Premium Membership", new_charge_path, class: 'btn btn-default' %></p>
		<% end %>
		<% if current_user.premium? %>
			<p class="text-center"><%= link_to "Cancel my Premium Membership", charge_path(current_user), method: :delete, class: 'btn btn-default', data: { confirm: "Are you sure you want to cancel your premium membership and miss out on private wikis?" } %></p>
  	<% end %>
	<% end %>

</div>
<!-- <div class="row">
	<div class="col-md-6">
		<p>Create as many public wikis as you want!</p>
	</div>
	<div class="col-md-6">
		<p>Create Private Wikis!</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<button>Free Plan</button>
	</div>
	<div class="col-md-6">
		<button>Premium Plan</button>
	</div>
</div> -->
