<h1>Blocipedia: Social, Markdown Wikis</h1>
<div class="jumbotron">
	<h2>Create and share Markdown Wikis</h2>
	<br />
	<button>Sign up</button>
</div>
<div class="row">
	<div class="col-md-6">
		<p>Create as many public wikis as you want!</p>
	</div>
	<div class="col-md-6">
		<p>Create Private Wikis!</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<button>Free Plan</button>
	</div>
	<div class="col-md-6">
		<button>Premium Plan</button>
	</div>
</div>
