<h1 class="text-center">Edit Wiki</h1>
<hr>
<div class="row">
	<div class="col-md-4">
		<h3 class="text-center">Make your text cool with Markdown!</h3>
		<hr>
		<h4>Guide:</h4>
		<small>
			<p><strong>**bold**</strong></p>
			<p>_underline_</p>
			<p><i>*italic*</i></p>
			<p>`code`</p>
			<p>--- horizontal rule</p>
			<p><mark>==highlight==</mark></p>
			<p>links[I'm an inline-style link](https://www.google.com)</p>
		</small>
	</div>
	<div class="col-md-8">
		<%= render partial: 'form', locals: { wiki: @wiki } %>
		<% if current_user.admin? || @wiki.private? || current_user == @wiki.user %>
			<div class="form-group">
				<%= render partial: 'collaborators/form', locals: { wiki: @wiki, collaborators: @wiki.collaborators } %>
			</div>
		<% end %>
	</div>
</div>
